# ===== DATABASE =====
DB_URL=jdbc:postgresql://postgres:5432/music-social
DB_URL_IDENTITY=jdbc:postgresql://postgres:5432/identity_db
DB_URL_PAYMENT=jdbc:postgresql://postgres:5432/payment_db
DB_URL_MUSIC=jdbc:postgresql://postgres:5432/music_db
DB_URL_ADS=jdbc:postgresql://postgres:5432/ads_db
DB_USERNAME=postgres
DB_PASSWORD=sapassword
POSTGRES_DEFAULT_DB=music-social

# ===== MONGODB =====
# Nếu muốn dùng MongoDB container local, đổi sang:
# MONGODB_URI=mongodb://mongodb:27017/tramcamxuc_social
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/tramcamxuc_social?retryWrites=true&w=majority
DB_USERNAME_MONGO=
DB_PASSWORD_MONGO=

# ===== REDIS =====
REDIS_HOST=redis
REDIS_PORT=6379

# ===== RABBITMQ =====
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# ===== MINIO =====
MINIO_ENDPOINT=http://minio:9000
MINIO_ENDPOINT_HOSTPORT=minio:9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET=password123
MINIO_BUCKET=music
MINIO_RAW_BUCKET=music
MINIO_PUBLIC_BUCKET=public-songs
MINIO_ADS_BUCKET=ads-audio
MINIO_AI_BUCKET=ai-training-data
MINIO_ML_BUCKET=ml-models

# ===== STREAMING =====
STREAM=https://minio.example.com/public-songs/example/master.m3u8

# ===== SECURITY =====
JWT_SECRET=replace-with-long-random-secret
OTP_EXPIRATION_MINUTES=5

# ===== EUREKA + ZIPKIN =====
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
ZIPKIN_URL=http://zipkin:9411

# ===== OAUTH GOOGLE =====
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID_MOBILE=

# ===== OAUTH FACEBOOK =====
FACEBOOK_CLIENT_ID=
FB_APP_SECRET=

# ===== CALLBACK =====
OAUTH_CALLBACK_BASE_URL=http://localhost:3000

# ===== EMAIL =====
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# ===== CLOUDINARY =====
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=

# ===== ADMIN =====
ADMIN_EMAIL=admin@tramcamxuc.com
ADMIN_PASSWORD=MatKhauSieuKho123!@

# ===== EXTERNAL API =====
JAMENDO_API_URL=https://api.jamendo.com/v3.0
JAMENDO_CLIENT_ID=
JAMENDO_CLIENT_SECRET=

DISCOGS_CONSUMER_KEY=
DISCOGS_CONSUMER_SECRET=

# ===== APP CONFIG =====
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000
MOBILE_REDIRECT_SCHEME=exp://127.0.0.1:8081/--/auth-callback

# ===== SOCIAL LOGIN =====
TOKEN_URL=https://graph.facebook.com/v18.0/oauth/access_token
GOOGLE_LOGIN_URL=https://oauth2.googleapis.com/tokeninfo?id_token=
FACEBOOK_LOGIN_URL=https://graph.facebook.com/me?fields=id,name,email,picture&access_token=

# ===== PAYMENT =====
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECK_SUM=
PAYOS_RETURN_URL=tramcamxuc://payment/success
PAYOS_CANCEL_URL=tramcamxuc://payment/cancel

# ===== RECOMMENDATION / ML =====
ML_SERVICE_URL=http://recommendation-ml:8771
SOCIAL_SERVICE_URL=http://social-service:8767
MUSIC_SERVICE_URL=http://music-service:8764
