server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: identity-service
          uri: lb://IDENTITY-SERVICE
          predicates:
            - Path=/api/v1/auth/**, /api/v1/users/**

        - id: music-service
          uri: lb://MUSIC-SERVICE
          predicates:
            - Path=/api/v1/songs/**, /api/v1/albums/**, /api/v1/genres/**, /api/v1/artists/**

        - id: payment-service
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/api/v1/payments/**, /api/v1/subscriptions/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/